@import './base.css';

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.25rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #0b6e4f;
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 2rem;
  }
}
